In [1]:
# esse path append é importante para que os módulos da Hermione funcionem no notebook
import sys
sys.path.append("../../")

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import re
import string

from ml.data_source.spreadsheet import Spreadsheet
from ml.preprocessing.preprocessing import Preprocessing
from ml.model.trainer import TrainerSklearn
from ml.model.metrics import Metrics
import warnings
warnings.filterwarnings('ignore')

In [7]:
from ml.preprocessing.text_vectorizer import TextVectorizer

In [8]:
vector_text = TextVectorizer(vectorizer_cols = {'bag_of_words' : ['Name']})

In [9]:
def pre_processamento_texto(corpus):
    corpus_alt = re.findall(r"\w+(?:'\w+)?|[^\w\s]", corpus)
    corpus_alt = [t.lower() for t in corpus_alt]
    corpus_alt = [re.sub(r'\d', '', t) for t in corpus_alt]
    corpus_alt = [t for t in corpus_alt if t not in string.punctuation]    
    return corpus_alt

In [50]:
df = Spreadsheet().get_data('../../../data/raw/train.csv')
df = df.dropna()
df = df.reset_index()

In [51]:
#df = df.head(150)

In [52]:
vector_text.fit(df)

In [53]:
t, v, a = vector_text.transform(df)

In [54]:
t

,index,Survived,Pclass,Sex,Age,Fare,Name,Name_bag_of_words
0,0,0,3,male,22.0,7.2500,"Braund, Mr. Owen Harris","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,1,1,1,female,38.0,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,2,1,3,female,26.0,7.9250,"Heikkinen, Miss. Laina","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,3,1,1,female,35.0,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,0,3,male,35.0,8.0500,"Allen, Mr. William Henry","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...
709,885,0,3,female,39.0,29.1250,"Rice, Mrs. William (Margaret Norton)","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
710,886,0,2,male,27.0,13.0000,"Montvila, Rev. Juozas","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
711,887,1,1,female,19.0,30.0000,"Graham, Miss. Margaret Edith","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
712,889,1,1,male,26.0,30.0000,"Behr, Mr. Karl Howell","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
713,890,0,3,male,32.0,7.7500,"Dooley, Mr. Patrick","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [47]:
v

<150x374 sparse matrix of type '<class 'numpy.int64'>'
	with 614 stored elements in Compressed Sparse Row format>

In [48]:
a

0      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...
                             ...
145    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
146    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
147    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
148    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
149    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Length: 150, dtype: object